@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Raleway&family=Tektur:wght@400;500;600;700;800;900&display=swap');
@import "./styles/animations.css";
@import "./styles/main_layout.css";
@import "./styles/colors.css";


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 10px;
    max-height: 100vh;
    max-width: 100vw;
}

.space-20{
    height: 20px;
    background-color: transparent;
}
.space-10p{
    height: 3vh;
    background-color: transparent;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-welcome {
    font-size: 40px; 
}
.logo-name {
    font-size: 20px;
}

nav.navbar {
    height: fit-content;
    flex-wrap: wrap;
}

a.nav-button, a.learn-more {
    text-decoration: none;
}
a.nav-button button, a.learn-more button {
    display: flex;
    align-items: center;
    justify-content: center;
    
    text-align: center;
    /* background-color: rgb(79, 42, 62); */
    background-color: var(--button-color);
    color: rgb(217, 217, 217);
    border: 0;
    font-weight: 600;
    width: 220px;
    height: 52px;
    font-size: 28px;
    transition: all 0.2s ease-in-out;
}
a.learn-more button {
    width: 230px;
    height: 60px;
    font-size: 30px;
}

a.nav-button button:hover, a.learn-more button:hover {
    /* background-color: rgb(92, 50, 73); */
    background-color: var(--button-hover-color);
    cursor: pointer;
    transition: all 0.2s ease-in-out;

}

a.nav-button button:active, a.learn-more button:active {
    background-color: var(--button-active-color);
    cursor: pointer;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85vw;
    height: 75vh;
    background-color: var(--main-content-bg-color);
    border-radius: 20px;
    box-shadow: 0px 0px 5px var(--main-content-bg-shadow-color);
    /* padding: 20px; */
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    
}

main::-webkit-scrollbar {
    display: none;
}

.main-content {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.step1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    transition: all 1s ease-in-out;

}


.main-content-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 0px 20px; */
    width: fit-content;
    animation: FadeInFromLeft 2s ease-in-out forwards;

}

.main-content-text h1 {
    font-size: 47px;
    margin: 0px;
}

.main-content-text p {
    font-size: 31px;
}

.main-content-text button {
    margin: 10px 5px;
}

.main-content-text button:hover {
    scale: 104%;
}

div.circle {
    width: fit-content;
    display: flex;
    align-items: center;
}
.circle img {
    border-radius: 20px;
    max-width: 360px;
    animation: FadeInFromRight 2s ease-in-out forwards;
    
}
.circle img.img-step1 {
    box-shadow: 0px 0px 15px rgba(31, 31, 31, 0.535);
}
.circle img.img-step2 {
    box-shadow: 0px 0px 15px rgba(189, 189, 189, 0.535);
}


footer p {
    font-size: 13px;
}

@media screen and (max-width: 400px) {
   
    .main-content-text h1 {
        font-size: 20px;
        margin: 0px;
    }
    
    .main-content-text p {
        font-size: 16px;
    }

    a.learn-more button {
        width: 250px;
        height: 70px;
        font-size: 32px;
    }

    img {
        width: 400px;
    }
}

@media screen and (max-width: 768px) {
    
}

@media screen and (min-width: 769px) and (max-width: 1150px) {
    
}


@media screen and (min-width: 1151px) and (max-width: 1550px) {
    .circle img {
        width: 300px;
    }
}

@media screen and (max-width: 1750px) {
    .main-content-text h1 {
        font-size: 40px;
        margin: 0px;
    }
    
    .main-content-text p {
        font-size: 26px;
    }

    a.learn-more button {
        width: 210px;
        height: 48px;
        font-size: 24px;
    }

    img {
        width: 310px;
    }
}

@media screen and (min-width: 2040px) {

    .main-content-text h1 {
        font-size: 50px;
        margin: 0px;
    }
    
    .main-content-text p {
        font-size: 36px;
    }

    a.learn-more button {
        width: 250px;
        height: 70px;
        font-size: 32px;
    }

    img {
        width: 400px;
    }
    
}