@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Raleway&family=Tektur:wght@400;500;600;700;800;900&display=swap');

* {
    font-family: 'Tektur';
}

body {
    background-color: rgb(104, 85, 72);
    color: rgb(217, 217, 217);
    margin-top: 20px;
    margin-inline: 10px;
}

header {
    display: flex;
    justify-content: center;
    background-color: rgb(163, 141, 126);
}