/* .circle img {
    border-radius: 20px;
    max-width: 500px;
    box-shadow: 0px 0px 15px rgba(221, 221, 221, 0.595);
    transition: ease-in-out 0.2s;
}
.circle img:hover {
    max-width: 505px;
    transition: ease-in-out 0.2s;
}
main {
    min-height: 70vh;
    height: fit-content;
}
.main-content {
    display: flex;
    flex-direction: column;
}
.step1 {
    display: flex;
    padding: 0px 20px;
} */


@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Raleway&family=Tektur:wght@400;500;600;700;800;900&display=swap');

@keyframes FadeInFromRight  {
    from {
        opacity: 0;
        transform: translateX(40px);
    } to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes FadeInFromLeft  {
    from {
        opacity: 0;
        transform: translateX(-40px);
    } to {
        opacity: 1;
        transform: translateX(0);
    }
}

* {
    font-family: 'Tektur';
}

body {
    
    background-color: rgb(57, 15, 43);
    background-image:
        radial-gradient(at 1% 9%, rgba(83, 49, 117, 0.826) 0px, transparent 50%),
        radial-gradient(at 51% 11%, rgba(156, 71, 126, 0.729) 0px, transparent 50%),
        radial-gradient(at 97% 36%, rgba(91, 64, 118, 0.826) 0px, transparent 50%),
        radial-gradient(at 7% 96%, rgba(128, 54, 135, 0.585) 0px, transparent 50%),
        radial-gradient(at 38% 74%, rgba(145, 73, 164, 0.585) 0px, transparent 50%),
        radial-gradient(at 98% 82%, rgba(123, 56, 101, 0.451) 0px, transparent 50%);
        
    color: rgb(217, 217, 217);
    /* margin-top: 20px;
    margin-inline: 10px; */
    margin: 0;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 10px;
    max-height: 100vh;
    max-width: 100vw;
}

.space-20{
    height: 20px;
    background-color: transparent;
}
.space-10p{
    height: 3vh;
    background-color: transparent;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(28, 7, 29);
    width: 99.9%;
    border-radius: 20px;

}

h1.logo-welcome  {
    margin: 10px 0px 5px 0px;
}
h3.logo-name {
    margin: 5px 0px 10px 0px;
}

nav.navbar {
    background-color: rgb(28, 7, 29);

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 90%;
    min-height: 50px;
    border-radius: 10px;
    padding: 10px 10px;
    margin-top: 5px;

}

a.nav-button, a.learn-more {
    text-decoration: none;
}
a.nav-button button, a.learn-more button {
    display: flex;
    align-items: center;
    justify-content: center;
    
    text-align: center;
    background-color: rgb(79, 42, 62);
    color: rgb(217, 217, 217);
    border: 0;
    font-weight: 600;
    width: 160px;
    height: 45px;
    font-size: 24px;
    transition: all 0.2s ease-in-out;
}
a.learn-more button {
    width: 200px;
    height: 50px;
    font-size: 24px;
}

a.nav-button button:hover, a.learn-more button:hover {
    background-color: rgb(92, 50, 73);
    cursor: pointer;
    transition: all 0.2s ease-in-out;

}

a.nav-button button:active, a.learn-more button:active {
    background-color: rgb(104, 60, 83);
    cursor: pointer;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85vw;
    height: 75vh;
    background-color: rgba(183, 183, 183, 0.379);
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(217, 217, 217, 0.2);
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    
}

main::-webkit-scrollbar {
    display: none;
}

.main-content {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;

    place-items: center;
    margin: 20px 0px;
}


.step1, .step2, .step3, .step4 {
    display: flex;
    padding: 0px 20px;
    margin: 20px 0px;
    transition: all 0.3s ease-in-out;

}
.step0:hover {
    cursor: default;
}
.step1:hover, .step2:hover, .step3:hover, .step4:hover {
    cursor: default;
    scale: 105%;
    transition: all 0.3s ease-in-out;
}
.step4 {
    padding-bottom: 20px;
}

.main-content-head h1 {
    font-size: 50px;
    margin: 0;
}
.main-content-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    width: 900px;
}

.main-content-text h1 {
    font-size: 40px;
    margin: 0px;
}

.main-content-text p {
    font-size: 26px;
}

div.circle {
    width: fit-content;
    display: flex;
    align-items: center;
}
.circle img {
    border-radius: 20px;
    max-width: 450px;
    transition: ease-in-out 0.2s;
}
.circle img.img-step1 {
    box-shadow: 0px 0px 15px rgba(83, 83, 83, 0.535);
}
.circle img.img-step2, .circle img.img-step3, .circle img.img-step4 {
    box-shadow: 0px 0px 15px rgba(36, 36, 36, 0.535);
}


footer p {
    font-size: 13px;
}

@media screen and (max-width: 768px) {
    
}

@media screen and (min-width: 769px) and (max-width: 1150px) {
    
}


@media screen and (min-width: 1151px) and (max-width: 1550px) {
    .step0, .step1, .step2, .step3, .step4 {
        scale: 90%;
    }
    .step1:hover, .step2:hover, .step3:hover, .step4:hover {
        scale: 91%;
    }
}

@media screen and (min-width: 1551px) {
    
}