@keyframes FadeInFromRight  {
    0% {
        opacity: 0;
        transform: translateX(50px) scale(90%);
    
    }
    50% {
        opacity: 1;
        transform: translateX(0) scale(90%);

    }
    100% {
        transform: scale(100%);

    }
}
@keyframes FadeInFromLeft  {
    0% {
        opacity: 0;
        transform: translateX(-50px) scale(90%);

    
    }
    50% {
        opacity: 1;
        transform: translateX(0) scale(90%);

    }
    100% {
        transform: scale(100%);
    }

    
}

@keyframes ScaleUp {
    from {
        scale: 100%;
    }
    to {
        scale: 103%;
    }
    
}