@keyframes FadeInFromRight  {
    from {
        opacity: 0;
        transform: translateX(40px);
    } to {
        opacity: 1;
        transform: translateX(0);
    }

    from {
        scale: 100%;
    } to {
        scale: 105%;
    }
}
@keyframes FadeInFromLeft  {
    from {
        opacity: 0;
        transform: translateX(-40px);
    } to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes ScaleUp  {
    from {
        scale: 95%;
    } to {
        scale: 100%;
    }
}